.demoAnimaciones{
  width:200px ;
  height: 200px;
  background-color: yellow;
}
button{
  width: 100px;
  height: 150px;
}
.entraYSale{
  width:200px ;
  height: 200px;
  background-color:royalblue;
}
