*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
form {
	  margin: 0 auto;
	  width: 400px;
	  padding: 1em;
	  border: 3px solid #CCC;
	  border-radius: 1em;
	  margin: 10px;
	  float: right;
	  background-color: white;
      }

input{
	margin:10px;
}
input.ng-valid{
  border:5px solid green;
  }

  input.ng-invalid{
  border:5px solid red;
  }
