*{margin: 0; padding: 0; box-sizing: border-box;}

.semaforo {
	height: 500px;
	width: 300px;
	background-color: darkgreen;
	margin: 0 auto;
	padding: 10px;

}
.circulo{
	width: 150px;
	height: 150px;
	border-radius: 75px;
	background-color: grey;
	margin: 0 auto;
	margin-bottom: 10px;
}


 .verde{
	background-color: green;
	
}

 .ambar {	
	background-color: yellow;	
}

 .rojo{	
	background-color: red;
}


