<div class="contorno">
   <input type="text" [value]="resultado" />
    
   
  <div class="numeros"> 
    <button class="pequeño" (click)="pulsarBoton(7)">7</button>
    <button class="pequeño" (click)="pulsarBoton(8)">8</button>
    <button class="pequeño" (click)="pulsarBoton(9)">9</button>
    <button class="pequeño" (click)="pulsarBoton(4)">4</button>
    <button class="pequeño" (click)="pulsarBoton(5)">5</button>
    <button class="pequeño" (click)="pulsarBoton(6)">6</button>   
    <button class="pequeño" (click)="pulsarBoton(1)">1</button>
    <button class="pequeño" (click)="pulsarBoton(2)">2</button>
    <button class="pequeño" (click)="pulsarBoton(3)">3</button>    
    <button class="pequeño" (click)="pulsarBoton(0)">0</button>   
  </div>

  <div class="simbolo">    
  	<button class="simbolo" (click)="pulsarBoton('/')">/</button>
  	<button class="simbolo" (click)="pulsarBoton('*')">*</button>
  	<button class="simbolo" (click)="pulsarBoton('-')">-</button>
  	<button class="simbolo" (click)="pulsarBoton('+')">+</button>
  </div>
  <button class="simbolo" (click)="resultadoTotal()">=</button>
</div>
