<form action="./create" method="post">
  <div class="form-group">
    <label for="exampleInputnombre">Nombre</label>
    <input type="text" class="form-control" id="exampleInputnombre"  placeholder="introducir nombre" name="nombre">
  </div>
  <div class="form-group">
    <label for="exampleInputnombre">precio</label>
    <input type="text" class="form-control" id="exampleInputprecio"  placeholder="introducir precio" name="precio">
  </div>
  <div class="form-group">
    <label for="exampleInputDepartamento1">Departamento</label>
    <input type="Departamento" class="form-control" id="exampleInputDepartamento1" placeholder="Departamento" name="departamento">
  </div>
  <div class="form-group">
    <label for="exampleInputActivo1">Activo</label>
    <input type="Activo" class="form-control" id="exampleInputActivo1" placeholder="Activo" name="activo">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>